<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722949622156-o0a0l1sv2r0r9277c0plmjdt3ramd189.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722949622156-o0a0l1sv2r0r9277c0plmjdt3ramd189</string>
	<key>API_KEY</key>
	<string>AIzaSyDeJyD5lAq4OXdVE2qvpyMOCI3pXUZVXac</string>
	<key>GCM_SENDER_ID</key>
	<string>722949622156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blogWeb.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>food-blog-be262</string>
	<key>STORAGE_BUCKET</key>
	<string>food-blog-be262.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722949622156:ios:5061dbca0bb493959feea9</string>
</dict>
</plist>